table {
    width: 100%;
    border-collapse: collapse;
}
table,
th,
td {
    border: 1px solid black;
}
th,
td {
    padding: 8px;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0);
    margin: 0;
    padding: 5px;
}
header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 4px 2px -2px gray;
    position: sticky;
    top: 0;
    z-index: 1000;
}
h2 {
    color: #343a40;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 10px;
}
p {
    color: #495057;
    font-size: 1.1em;
    line-height: 1.6;
}
button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background-color: #0056b3;
}
#progress {
    width: 100%;
    margin-top: 10px;
}
select {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}
canvas {
    margin-top: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

#mpy-editor-4 {
    width: 50%;
    flex: 1;
    height: 100%;
}

#repl {
    width: 50%;
    flex: 1;
}

#headbarr {
    width: 100%;
    margin: 0;
}
